@use "../abstracts/colors" as *;
@use "../abstracts/mixins" as *;

.dailyForecast {
  &__title {
    font-size: 1.1rem;
    text-align: center;
    margin-top: 0.5rem;
    @include mq(768px) {
      font-size: 1.3rem;
    }
  }
  /* end __title */

  &__content {
    @include flex-center;

    flex-grow: 1;
    justify-content: space-evenly;
    color: $font-color;
    padding: 0.5rem 0;

    .forecastDay {
      @include flex-col;

      justify-content: space-evenly;
      align-items: center;
      font-size: 0.9rem;
      @include mq(375px) {
        font-size: 1rem;
      }
    }
  }
}
