$font-color: #fff;
$background-color: rgba(0, 0, 255, 0.5);
$mask-color: rgba(0, 0, 0, 0.1);
$button-color: transparent;
$border-color: lightgray;
$container-bg-color: #f2f2f2;
$button-text-color: #fff;
$shadow-color: #fff;
$text-shadow-color: #000;
$fade-color: rgba(255, 255, 255, 0.6);
/* various weather conditions color-overlay */
$fog-color: rgba(47, 79, 79, 0.5);
$clouds-color: rgba(7, 42, 66, 0.5);
$sunny-color: rgba(48, 45, 0, 0.5);
$night-color: rgba(14, 0, 31, 0.5);
$snow-color: rgba(31, 60, 61, 0.5);
$rain-color: rgba(19, 82, 71, 0.5);
